.nav-left *{
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: bold;
}

.nav-left{
  background: #23282D;
}

.nav-left .nav-body{
  list-style: none;
  width: 1000px;
}

.nav-left .nav-body .nav-body-item{
  display: inline-block;
}

.nav-left .nav-body .nav-body-item button{
  text-decoration: none;
  display: block;
  background: #23282D;
  padding: 10px 30px;
  text-align: justify;
  border: none;
  width: 100%;
}

.nav-left .nav-body .nav-body-item button:hover{
  background: #343a40;
  color: #00B9EB;
  
}

.nav-left .nav-body .nav-body-item > .nav-body{
  display: none;
  position: absolute;
  background: #23282D;
  width: fit-content;
  z-index: 10;
}

.nav-left .nav-body .nav-body-item:hover > .nav-body{
    display: block;
  }

.nav-left .nav-body .nav-body-item > .nav-body > .nav-body-item{
    display: block;
  }

.nav-left .nav-body .nav-body-item > .nav-body button{
  padding-left: 30px;
  display: block;
}

@media all and (max-width: 768px){
  .nav-left{
    overflow-y: hidden;
    overflow-x: scroll;
  }
}