{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}

{{#section 'js'}}
<script src="/js/manager.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $("#form").validate({
        rules: {
            Seri: {
                required: true,
                minlength : 11,
                maxlength : 11,
                number: true
            },
            Pin: {
                required: true,
                minlength : 12,
                maxlength : 12,
                number: true
            }
        },
        messages: {
            Seri: {
                required: "Không được bỏ trống",
                minlength : "Seri phải có 11 số",
                number : "Seri không hợp lệ"
            },
            Pin: {
                required: "Không được bỏ trống",
                minlength : "Pin phải có 12 số",
                number : "Pin không hợp lệ"
            }
        },
        errorElement: 'small',
        errorClass: 'help-block text-danger',
        highlight: (e) => {
            $(e).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: (e) => {
            $(e).addClass('is-valid').removeClass('is-invalid');
        }
    });
</script>
{{/section}}

<!-- Nav Top -->
{{> nav-dashboard}}

<!-- Content -->
<div id="content" class="pl-md-3 pt-3 pb-md-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3 class="pl-3 pl-md-0">Mua Tài Khoản</h3>
    <hr>
    <div class="container">
        <div class="">
            <form id="form" method="POST">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Loại Thẻ</label>
                    <div class="col-sm-3">
                        <select name="produce" class="form-control" id="exampleFormControlSelect1">
                            <option value="Viettel">Viettel</option>
                            <option value="Mobiphone">Mobiphone</option>
                            <option value="Vietnammobile">Vietnammobile</option>
                            <option value="Vinaphone">Vinaphone</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Giá trị</label>
                    <div class="col-sm-3">
                        <select name="value" class="form-control" id="exampleFormControlSelect1">
                            <option value="10000">10.000 VND</option>
                            <option value="20000">20.000 VND</option>
                            <option value="50000">50.000 VND</option>
                            <option value="100000">100.000 VND</option>
                            <option value="200000">200.000 VND</option>
                            <option value="500000" >500.000 VND</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Seri</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Seri" name="Seri" placeholder="Seri" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Mã thẻ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Pin" name="Pin"  placeholder="Mã thẻ">
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary pl-3 pr-3 ">Gửi</button>
                </div>
            </form>

        </div>
        <div class="mt-5">
            <div class="text-center font-weight-bold">
                <h3 class=" bg-dark p-2 border-primary text-white">Mệnh giá thẻ tài khoản</h3>
                <table class="table table-hover table-active">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Mệnh giá</th>
                            <th scope="col">Thời hạn</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>10.000 VND</td>
                            <td>7 ngày</td>
                        </tr>
                        <tr>
                            <td>20.000 VND</td>
                            <td>30 ngày</td>
                        </tr>
                        <tr>
                            <td>50.000 VND</td>
                            <td>3 tháng</td>
                        </tr>
                        <tr>
                            <td>100.000 VND</td>
                            <td>9 tháng</td>
                        </tr>
                        <tr>
                            <td>200.000 VND</td>
                            <td>2 năm</td>
                        </tr>
                        <tr>
                            <td>500.000 VND</td>
                            <td>5 năm</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="text-center font-weight-bold mt-5 ">
            Chúng tôi sẽ xác nhận sớm nhất có thể. Tối thiệu trong 24h <br>
            Cảm ơn bạn đã ủng hộ chúng tôi
        </div>
    </div>

</div>