<!--Tin Nổi Bật -->
<div class="col-sm-3 col-md-3">
    <div class="card">
        <div class="card-header text-danger font-weight-bold h5 text-uppercase" style="">
            Tin Nổi Bật
        </div>
        <ul class="list-group list-group-flush">
            {{#each hotPost}}
                <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="{{URLImage}}"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold text-justify">{{Title}}</figcaption>
                </figure>
            </a>
            {{/each}}
        </ul>
    </div>
</div>