<!--Tin Nổi Bật -->
<div class="col-sm-3 col-md-3">
    <div class="card">
        <div class="card-header text-danger font-weight-bold h5 text-uppercase" style="">
            Tin Nổi Bật
        </div>
        <ul class="list-group list-group-flush">
            <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="http://static.gamehub.vn/img/files/2019/04/23/4901088611496051085290486879089650162466816nHLgh8.jpg?fbclid=IwAR2fDb586GcQB7DHMZCG9Tl_S4nVVCSl7W3agLXZQXR56cQTrsruMwNVMoc"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold text-justify">Thiên An - Kiều nữ
                        stream Liên Quân Mobile: “Em cứ đi một mình là gặp phải biến thái”</figcaption>
                </figure>
            </a>
            <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="http://static.gamehub.vn/img/files/2019/04/22/GameHubVN-Top_Game_Esports_tren_Mobile_ph%E1%BA%A3i_ch%C6%A1i_n%E1%BA%BFu_mu%E1%BB%91n_thanh_b%E1%BA%ADc_th%E1%BA%A7y_game_th%E1%BB%A7-14.th.jpg?fbclid=IwAR0x61Hse3WibDB1_mrovhkAmrvlnECY1iqtFGF4PVScs9Slt_uTiFkun_Y"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold  text-justify">Top Game Esports
                        trên Mobile phải chơi nếu muốn
                        thành bậc thầy game thủ</figcaption>
                </figure>
            </a>
            <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="https://channel.mediacdn.vn/thumb_w/640/prupload/1131/2019/04/img20190422102252238.jpg?fbclid=IwAR0tpquOsQ-PXKLRSaQA-iS2-lLh__q-p-_ZtuGez421A0-GqJLWjNSHul8"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold  text-justify">Liệt Hỏa VNG: Hài
                        Nhi tính năng độc nhất vô nhị chỉ có tại Big Update Liệt Hỏa Công Thành Chiến
                    </figcaption>
                </figure>
            </a>
            <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="http://static.gamehub.vn/img/files/2019/04/18/gamehubvn-game-sony-that-chat-quan-li-cac-yeu-to-nhay-cam.jpg?fbclid=IwAR1kJNz_GeaGN5OwiSfZSsgYr6JZPHTAIdCIoQtFww_EHowW5UQIzyPpNc8"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold  text-justify">PS4 xác nhận sẽ
                        thắt
                        chặt kiểm soát yếu tố 18+, khiến các nhà phát triển bất mãn</figcaption>
                </figure>
            </a>
            <a href="/post" class="list-group-item list-group-item-action">
                <figure class="figure">
                    <img src="http://static.gamehub.vn/img/files/2019/04/17/GameHubVN-Game_th%E1%BB%A7_9_tu%E1%BB%95i_%C4%91%E1%BB%A5ng_m%E1%BA%B7t_cha_minh_trong_gi%E1%BA%A3i_%C4%91%E1%BA%A5u_7_Vien_Ng%E1%BB%8Dc_R%E1%BB%93ng-20.jpg?fbclid=IwAR3ve3wUXHwKnp24mlgaJPPxWeMruFMBuJ9X02m85jGM6CrB2BYQnGwrMO4"
                        class="figure-img img-fluid" alt="...">
                    <figcaption class="figure-caption font-weight-bold  text-justify">Game thủ 9 tuổi
                        đụng
                        mặt cha mình trong giải đấu 7 Viên Ngọc Rồng</figcaption>
                </figure>
            </a>
        </ul>
    </div>
</div>