<div class="container">
    <hr class="bg-secondary">
    <div class="row mt-sm-3 mt-md-5">
        <div class="col-sm-4 col-md-4 text-center">
            <img src="images/logo-web.png" class="img-fluid" alt="">
        </div>

        <div class="col-sm-4 col-md-4 text-light text-justify">
            <h5 class="font-weight-bold mb-3">VỀ CHÚNG TÔI</h5>
            • Giấy phép thiết lập Mạng xã hội số 569/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp.
            Trụ sở: 179 Đường Nguyễn Đình Chính, Phường 11, Quận PN, TP.HCM
            <p class="mt-3">Liên hệ: <span class="text-danger">vtanh1905@gmail.com</span> - Tel: 096 696
                9874</p>
        </div>

        <div class="col-sm-4 col-md-4 text-light text-justify">
            <h5 class="font-weight-bold mb-3">THEO CHÚNG TÔI</h5>
            <a href="https://www.facebook.com/vtanh195" class="d-inline-block text-center logo-icon" style="background: #000000">
                <i class="fab fa-facebook-f text-white"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCA_23dkEYToAc37hjSsCnXA" class="d-inline-block text-center logo-icon" style="background: #000000">
                <i class="fab fa-youtube text-white"></i>
            </a>
        </div>
    </div>
</div>