.icon {
    color: white;
    font-size: 25px;
    display: inline-block;
    margin-right: 15px;
}

.icon:hover {
    cursor: pointer;
    text-decoration: none;
}

.set-dropdown-item {
    color: white;
}

.set-dropdown-item:hover {
    display: inline-block;
    background: gray;
    color: white;
}

.text-icon {

    font-weight: normal;
    font: 16px/1.7 Open Sans, arial, Helvetica Neue, Helvetica !important;
}

.active-danger {
    color: red !important;
}

.logo-icon{
    width:50px; 
    height:50px;
    line-height: 50px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    
    -ms-transform: scale(1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02);
    /* Safari 3-8 */
    transform: scale(1.02);
}

.zoom_content {
    overflow: hidden;
    transition: transform .2s;
}

.zoom_content a:hover {
    -ms-transform: scale(1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02);
    /* Safari 3-8 */
    transform: scale(1.02);
    /* opacity: 0.5; */
}


.bg-dark-linear-gradient{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.65)), to(transparent));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 50%, transparent 100%);
}

.text-my-dark{
    color: #495057;
}

.text-hover-red:hover{
    color:#dc3545!important;
    text-decoration: none;
}

@media(max-width:425px){    
    .text-reponsive{
        font-size: 14px;
    }
    .text-reponsive-small{
        font-size: 14px;
    }
}


@media(max-width: 768px) {
    .text-reponsive{
        font-size: 15px;
    }
    .text-reponsive-small{
        font-size: 15px;
    }
}

@media (max-width: 1000px) { 
    .text-reponsive{
        font-size: 14px;
    }
    .text-reponsive-small{
        font-size: 14px;
    }
 }
 @media (max-width: 1224px) { 
    .text-reponsive{
        font-size: 18px;
    }
    .text-reponsive-small{
        font-size: 15px;
    }
 }


 @media (min-width: 1224px) { 
    .text-reponsive{
        font-size: 20px;
    }
    .text-reponsive-small{
        font-size: 15px;
    }
 }
