{{#section 'css'}}
<title>Trang chủ</title>
<link rel="stylesheet" href="/css/nav-left.css">
{{/section}}

{{#section 'js'}}
<script src="/js/manager.js"></script>
{{/section}}

<!-- Nav Top -->
{{> nav-dashboard}}

<!-- Content -->
<div id="content" class="p-3" style="background:#F1F1F1; overflow-y: scroll;">
    <h3>Danh Sách Người Dùng</h3>
    <hr>

    <!-- Them Nguoi Dung -->
    <div class="">
        <a class="btn btn-primary mr-3" href="/dashboard/user/add" role="button">
            <i class="fas fa-user-plus"></i>
            Thêm Người Dùng
        </a>
    </div>

    <!-- Loc + Tim Kiem + So Trang -->
    <div class="d-flex justify-content-between mt-3">
        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="inputPassword2" class="mr-3 d-md-block d-none">Vai Trò</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="tat-ca" selected>Tất Cả</option>
                    <option value="doc-gia">Độc Giả</option>
                    <option value="phong-vien">Phóng Viên</option>
                    <option value="bien-phong-vien">Biên Tập Viên</option>
                    <option value="quan-tri-vien">Quản Trị Viên</option>
                </select>
            </div>
        </div>
        <div class="form-inline">
            <form method="GET">
                <div class="form-group mb-2">
                    <label for="inputPassword2" class="sr-only">Tìm Kiếm</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Tìm Kiếm" name="search">
                    <div class="row btn-group">
                        <button class="btn btn-primary pl-3 pr-3" type="submit">Go</button>
                        <a class="btn btn-danger" href="/dashboard/user" role="button">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-inline d-md-block d-none">
            <div class="form-group mb-2">
                <label for="inputPassword2" class="mr-3 d-md-block d-none">SL Tài Khoản</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="tat-ca" selected>10</option>
                    <option value="doc-gia">25</option>
                    <option value="phong-vien">50</option>
                    <option value="bien-phong-vien">100</option>
                </select>
            </div>
        </div>
    </div>



    <!-- Dành Sách Bài Viết -->
    <table class="table table-bordered table-responsive-sm table-hover bg-white">
        <thead>
            <tr>
                <th class="text-center" style="width: 20%" scope="col">Tài Khoản</th>
                <th class="text-center" style="width: 20%" scope="col">Tên</th>
                <th class="text-center" style="width: 20%" scope="col">Email</th>
                <th class="text-center" style="width: 15%" scope="col">Vai Trò</th>
                <th class="text-center" style="width: 5%" scope="col">Bài Viết</th>
                <th class="text-center" style="width: 7%" scope="col">Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center align-middle" scope="row">
                    admin
                </th>
                <td class="text-center align-middle">
                    Tuấn Anh
                </td>
                <td class="text-center align-middle">
                    vtanh1905@gmail.com
                </td>
                <td class="text-center align-middle">Quản Trị Viên</td>
                <td class="text-center align-middle">10</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" href="/dashboard/user/edit" role="button">Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1">Xóa</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">
                    vtanh195
                </th>
                <td class="text-center align-middle">
                    Tuấn Anh
                </td>
                <td class="text-center align-middle">
                    vtanh195@gmail.com
                </td>
                <td class="text-center align-middle">Biên Tập Viên(<span class="text-danger font-weight-bold">Phim
                        Ảnh</span>)</td>
                <td class="text-center align-middle">3</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" href="sua-thong-tin-nguoi-dung.html" role="button">Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1">Xóa</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">
                    vtanhxxx
                </th>
                <td class="text-center align-middle">
                    Tuấn Anh
                </td>
                <td class="text-center align-middle">
                    vtanhxxx@gmail.com
                </td>
                <td class="text-center align-middle">Phóng Viên</td>
                <td class="text-center align-middle">3</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" href="sua-thong-tin-nguoi-dung.html" role="button">Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1">Xóa</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">
                    laptrinhthatvui
                </th>
                <td class="text-center align-middle">
                    Nguyễn Văn A
                </td>
                <td class="text-center align-middle">
                    consolegame@gmail.com
                </td>
                <td class="text-center align-middle">Độc Giả</td>
                <td class="text-center align-middle">0</td>
                <td class="text-center align-middle">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" href="sua-thong-tin-nguoi-dung.html" role="button">Sửa</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter1">Xóa</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xác Nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nó chứa ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-50">Có</button>
                <button type="button" class="btn btn-danger w-50" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>